<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet">
  <title>Clima Travel</title>
</head>
<body>
  <header>
    <h1>Clima Travel</h1>
  </header>

  <form>
    <div class="input-form">
      <label for="city">City</label>
      <input type="text" name="city" id="city" required>
    </div>

    <div class="input-form">
      <label for="date">Date</label>
      <input type="date" name="date" id="date" required>
    </div>
    <button id="travel">Travel</button>
  </form>

  <div id="error-message"></div>

  <section class="content">
    <h2 id="city-name"></h2>

    <div class="city-information">
      <div id="state"></div>
      <div id="currency"></div>
      <div id="country"></div>
      <div id="languages"></div>
      <div id="population"></div>
    </div>

    <h2 id="forecast"></h2>

    <img id="img-city" alt="A image of the city" />
  </section>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</body>
</html>